# Virtual Environments
env/
venv/
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
movies.db
movies.db-journal

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.txt

# Build output
build/
dist/

# Downloads and Temp Files
Downloads/
downloads_history.json
formats_dump.json
*.part
*.ytdl
*.m3u8

# Chrome Profiles
chrome_debug_profile/
scratch_hls_downloader/